:root {
    --color-primary: rgb(73, 8, 62);
    
    --color-green: #21A10C;
    --color-green-light: #1AC000;
    --color-green-ligher: #1DD400;
    --color-green-dark: #317E25;
    --color-green-darker: #2E452B;

    --color-blue: #163982;
    --color-blue-light: #09389B;
    --color-blue-lighter: #0238AD;
    --color-blue-dark: #253A65;
    --color-blue-darker: #252B38;

    --color-red: #BD0F1B;
    --color-red-light: #E20011;
    --color-red-lighter: #F90012;
    --color-red-dark: #942C34;
    --color-red-darker: #523235;

    --color-orange: #C2860F;
    --color-orange-light: #E89900;
    --color-orange-lighter: #FFA900;
    --color-orange-dark: #98742D;
    --color-orange-darker: #544934;
}